.header {
  color: #fff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 105px;
}

.logo {
  display: block;
  height: 65px;
  margin-top: -2px;
}

nav {
  max-width: 100%;
}

.menu {
  display: flex;
  column-gap: 10px;
  justify-content: space-around;
  margin-left: 46px;
  list-style: none;
}

.menu-item {
  padding: 9px 22px;
  height: 32px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  a {
    color: #fff;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.menu-item-active {
  background-color: #c1d64b;
  border-radius: 16px;
  a {
    color: #394000;
  }
}

