.lang-switcher {
  position: relative;
  padding-left: 10px;
  width: 120px;
  height: 31px;
  border: 1px solid #2d556c;
  border-radius: 7px;
  color: #fff;
  background-color: #092430;
  line-height: 29px;
  font-size: 13px;
}

.lang-switcher::before {
  content: "";
  position: absolute;
  right: -1px;
  width: 32px;
  height: 29px;
  border-radius: 0 7px 7px 0;
  background-color: #2d556c;
}

.lang-switcher::after {
  content: "";
  position: absolute;
  right: 9px;
  top: 7px;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
transform: rotate(45deg);

}
