@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@import "top";
@import "header";
@import "socials";
@import "lang-switcher";
@import "send-fax";
@import "how-send";
@import "our-offer";
@import "footer";

@font-face {
  font-family: "BebasNeue";
  src: url("../assets/fonts/BebasNeue Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #2c5871;
  &:hover {
    background: #2ab8c5;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;

  @media screen and (min-width: 992px) and (max-width: 1200px) {
    max-width: 912px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    max-width: 707px;
  }
  @media screen and (max-width: 767px) {
    max-width: 287px;
  }
}

.sign-up_button {
  padding: 15px 20px;
  color: #394001;
  background-color: #cee355;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px #7e9111;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: #f4d844;
    box-shadow: 0px 5px #a08801;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    padding: 16px 27px;
    font-size: 15px;
  }
  @media screen and (max-width: 767px) {
    padding: 16px 16px;
    font-size: 14px;
  }
}
